
<div class="container">
    {{#each data as |item|}}
        <div class="card mt-2 bg-light">
            <!--if a tag is included her than item is displayed here in light color untill i specify the color balck here-->
                <div class="card-body">
                    <a href="/product/search/{{item.pid}}">

                        <div class="row"style="color: black;">
                            <div class="col-md-4 ">
                                <img height="120" width="120" src='/assets/upload/{{item.pimage}}'>
                            </div>
                            <p class="card-title col-md-2"><strong>name: </strong>{{item.pname}}</p>
                            <!--<p class="card-text col-md-2"><strong>about :</strong> {{item.pabout}}</p>-->
                            <p class="card-text col-md-2"><strong>price: </strong>{{item.pprice}}</p>
                            <!--<p class="card-text col-md-2"><strong>State: </strong>{{item.pstate}}</p>-->
                        </div>
                    </a>
                </div>
        </div>
    {{/each}}
</div>
