{{>navbar}}

<div class="container bg-light editDetails">
    <div class="alert alert-warning text-center" role="alert">
        If you change email id then you will be logged out and have to signin with new email id
    </div>
    {{#if r.warning}}
        <div class="alert alert-danger text-center" role="alert">
            {{r.warning}}
        </div>
    {{/if}}
    <form method="post" action="/profile/editDetails">
        <div class="row">
            <div class="col-md-4 offset-2">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" value="{{r.user.name}}" class="form-control" id="name"  name="name" placeholder="Enter Name" autofocus>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phn">Your Contact Number</label>
                    <input type="number" value="{{r.user.phn}}" name="phn" class="form-control" id="phn" placeholder="Contact Number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-2">
                <div class="form-group">
                    <label for="location">Locality</label>

                    <input type="text" value="{{r.user.location}}" name="location" class="form-control" id="location" placeholder="Your location">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="state">State</label>
                    <select type="text" name="state"  class="py-2 form-control text-center">
                        <option value="{{r.user.state}}">Select State</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Jammu&Kashmir">Jammu&Kashmir</option>
                        <option value="Himachal">Himachal</option>
                        <option value="Uttrakhand">Uttrakhand</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Bihar">Bihar</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-2">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" value="{{r.user.email}}" class="form-control" id="email" placeholder="Enter email">
                </div>
            </div>
            {{# if r.user.googleId}}
                </div>
            {{else}}
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="password">Old Password</label>
                        <input type="password"  name="oldpassword" class="form-control" id="oldpassword" placeholder=" Old Password">
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-4 offset-2">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder=" New Password">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cpassword">Confirm Password</label>
                            <input type="password"  name="cpassword" class="form-control" id="cpassword" placeholder="Confirm Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-2">
                        <div class="form-group">

                            <input type="checkbox" name="changePassword">To change the password tick the checkbox
                        </div>
                    </div>
                </div>
            {{/if}}

        <button type="submit" class="btn col-md-2 offset-5 mt-3 btn-success">Save New Details</button>
    </form>

</div>

<style>
    .editDetails{
        margin-top: 80px;
        padding:10px;
    }
    body{
        background: url("/assets/images/profile_theme.jpg");
        background-size: cover;
    }
</style>