{{>navbar}}
<div class="container">
    {{#if isEmpty}}
        <div class="alert alert-danger col-md mt-3 " role="alert">
            You have not posted any advertisements. Post a new advertisement now and earn money.
        </div>
    {{/if}}

{{#each data as |item|}}
    <div class="card mt-2 bg-light">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img height="120" width="120" src='/assets/upload/{{item.pimage}}'>
                </div>
                <p class="card-title col-md-2"><strong>Name: </strong>{{item.pname}}</p>
                <p class="card-text col-md-2"><strong>About:</strong> {{item.pabout}}</p>
                <p class="card-text col-md-2"><strong>Price: </strong>{{item.pprice}}</p>
                <p class="card-text col-md-2"><strong>State: </strong>{{item.pstate}}</p>
            </div>
            <div class="row">
                <div class="col-md mt-2">
                    <button onclick="deleteAdd('{{item.pid}}')" class="btn-sm btn btn-danger float-right">DELETE ADVERTISEMENT</button>
                </div>
            </div>
        </div>
    </div>
{{/each}}
</div>

<script>
    function deleteAdd(id){
        console.log(id)
        $.ajax({
            url: `/profile/myadvertisement/delete`,
            type: 'DELETE',
            data:{
                    id:(id)
                },
            success: function(result) {
                location.reload(true)
            }
        });
    }
</script>
<style>
    body{
        background: url("../assets/images/profile_theme.jpg");
    }
</style>